.graphs1 {
    display: flex;
    margin-inline: 1.5rem;
    gap: 1.5rem;
}

.graphs1_areachart {
    flex: 2;
    background: white;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.areachart_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.graphs1_barchart {
    flex: 1;
    background: white;
    padding: 1.25rem;

}

.areachart_legends {
    display: flex;
    gap: 0.625rem;
}

.legends_radio {
    display: flex;
    color: var(--card_icon);
}

.legends_info h2 {
    color: var(--card_icon);

}

.legends_radio2 {
    display: flex;
    color: #80CAEE;
}

.legends_info2 h2 {
    color: #80CAEE;

}

.areachart_days {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.375rem;
    background: var(--bg_clr);
    border-radius: 5px;
}

.areachart_days button {
    color: var(--pri_clr);
    font-size: .75rem;
    line-height: 1rem;
    padding: 0.25rem 0.75rem;
    font-weight: 500;
}

.active {
    background: white;
    border-radius: 5px;
}