.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    padding: 1rem 1.25rem;
    background-color: white;
    box-shadow: 0 1px 5px var(--sec_clr);
}

.nav_user_notification_btn {
    display: flex;
    color: var(--sec_clr);
    background: var(--bg_clr);
    width: 2.125rem;
    height: 2.125rem;
    border-radius: 50%;
    font-size: 1.125rem;
    align-items: center;
    justify-content: center;
    position: relative;
}

.nav_user_notification_btn::before {
    content: '';
    width: 0.45rem;
    height: 0.45rem;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    animation: ping 4s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
    0% {
        transform: scale(0.9);
        opacity: 0.7;
        box-shadow: 0 0 0 rgba(255, 0, 0, 0.7);
        /* Start with no shadow */
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
        box-shadow: 0 0 5px 5px rgba(255, 0, 0, 0);
        /* Create a wave effect */
    }

    100% {
        transform: scale(0.9);
        opacity: 0.7;
        box-shadow: 0 0 0 rgba(255, 0, 0, 0.7);
        /* Reset to no shadow */
    }
}

.navbar_search {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
    color: var(--sec_clr);
    border: none;
    padding: 0.25rem 0.5rem;
}

.navbar_search input {
    background: transparent;
    border: none;
    font-size: 1rem;
    opacity: 0.7;
}

.nav_user_notification {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.navbar_user {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

.nav_user_login {
    display: flex;
    align-items: center;
    color: var(--sec_clr);
    gap: 1rem;

}

.user_info {
    display: flex;
    flex-direction: column;
}

.user_info :first-child {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #444B58;
}

.user_info :nth-child(2) {
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 500;
    color: #B2BAC6;
}

.nav_user_login img {
    width: 3rem;
    border-radius: 50%;
}