* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

canvas {
  width: 100% !important;
  height: 100% !important;
}

/* ::-webkit-scrollbar {
  display: none;
} */

:root {
  --pri_clr: #1C2434;
  --sec_clr: #828FA1;
  --bg_clr: #EEF2F6;
  --crd_bg: #3C50E0;


  --card_icon: #3C50E0;
  --aside_icon: #DEE4EE;
  --aside_txt: #8A99AF;

  --txt_clr: var(--pri_clr);
  --white: #ffffff;
}

body {
  font-family: 'Figtree', sans-serif;
  background-color: var(--bg_clr);

}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.875rem;
  color: var(--txt_clr);
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
}

h4 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: var(--txt_clr);

}

h5 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

h6 {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1rem;
}

textarea:focus,
input:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  color: var(--pri_clr);
}

.dash_container {
  display: flex;
  overflow: hidden;
  height: 100svh;
}

.container_side {
  display: none;
}


.container_dash {
  width: 100%;
  overflow-y: scroll;
}

.dash_nav {
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  z-index: 999;
}

.dash_db {
  margin-top: 5rem;
}

/* @media (max-width:768px) {
  .dash_db {
    margin-top: 20%;
  }

}

@media (max-width:1024px) {
  .dash_db {
    margin-top: 7%;
  }

} */

@media (min-width:1024px) {

  .container_side {
    display: flex;
    flex: 2.85;
    background: var(--pri_clr);
    overflow-y: scroll;
  }

  .container_dash {
    flex: 7.15;
    margin-top: 0;
    overflow-y: scroll;
  }

  .container_side::-webkit-scrollbar {
    display: none;
  }

  .dash_nav {
    right: 1.5rem;
    width: 69.2%;
  }

}

@media (min-width:1280px) {
  .container_side {
    flex: 2.15;
  }

  .container_dash {
    flex: 7.85;
    overflow-y: scroll;
  }

  .dash_nav {
    width: 77%;
    right: 1.5rem;
  }

}