.graph2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.graph2_first {
    flex: 1;
    background: white;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.graph2_second {
    flex: 2;
    background: white;
    padding: 1.25rem;
}

.first_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

.first_info button {
    display: flex;
    align-items: center;
    color: var(--pri_clr);
    opacity: 0.7;
    gap: 0.325rem;
    font-size: 0.875rem;
}

.first_graph {
    height: 60%;
}

.legend_1 {
    color: #3C50E0;
    margin-right: 0.5rem;
}

.legend_2 {
    color: #6577F3;
    margin-right: 0.5rem;
}

.legend_3 {
    color: #8FD0EF;
    margin-right: 0.5rem;
}

.legend_4 {
    color: #0FADCF;
    margin-right: 0.5rem;
}

.first_legends {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 20%;
}

.legends {
    display: flex;
    align-items: center;
    padding: 0.25rem;
}

.g2_legends_info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
}

.second_info {
    height: 15%;
}

.second_graph {
    position: relative;
    height: 85%;
}

.second_graph img {
    width: 100%;
    height: 100%;
}

.second_graph_zoom {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    bottom: 5px;
    right: 5px;
}

.zoom_btn {
    display: flex;
    height: 1.75rem;
    width: 1.75rem;
    padding: 0.25rem;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    line-height: 1;
    color: rgb(100 116 139 / 1);
    border-radius: 0.25rem;
    border: 1px solid rgb(226 232 240/1);
}

.zoom_btn :active {
    background-color: var(--card_icon);
    color: white;
}

@media (min-width:1280px) {
    .graph2 {
        flex-direction: row;
        gap: 1.5rem;
    }
}