.graph2 {
    display: flex;
    margin-inline: 1.5rem;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.graph2_first {
    flex: 1;
    background: white;
    padding: 1.25rem;

}

.graph2_second {
    flex: 2;
    background: white;
    padding: 1.25rem;

}

.first_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

.first_info button {
    display: flex;
    align-items: center;
    color: var(--pri_clr);
    opacity: 0.7;
    gap: 0.325rem;
    font-size: 0.875rem;
}

.first_graph {
    height: 80%;
}